.shop {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #f76c6c, #ffffff), 
                url('pattern.png'); 
    background-size: cover, 200px 200px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-image {
    max-width: 100%;
    border-radius: 8px;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.price {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.buy-now {
    background-color: #f76c6c;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.buy-now:hover {
    background-color: #d55a5a;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.resizable-box {
    width: 200px;
    height: 80px;
    border: 1px solid #ccc;
    resize: both;
    overflow: auto;
    outline: 3px solid pink;
    outline-offset: 5px;
    margin-left: 41%;
}

.transformed-box {
    width: 100px;
    height: 30px;
    background-color: #e3d2ec;
    margin: 10px;
    transition: transform 0.5s;
}

.transformed-box:hover {
    transform: translate(50px, 50px) rotate(45deg) scale(1.5) skew(10deg, 10deg);
}

.rotate3d {
    width: 120px;
    height: 30px;
    background-color: #fbc2eb;
    margin: 20px;
    transition: transform 0.5s;
}

.rotate3d:hover {
    transform: rotateX(45deg) rotateY(45deg);
}
